<%= content_for :header do %>
    <%= render partial: "shared/header", locals: {page: 'index'} %>
<% end %>

<div class="large-12 columns">
    <h2>Home#index</h2>
    <p>Find me in app/views/home/index.html.erb</p>
</div>
