// Colors
$grey: #9B9B9B;
$orange-light: #FFCB74;
$orange-dark: #F7BE60;
$blue-light: #60ADF7;
$blue-dark: #2067AB;

// Global Styles

h1, h2, h3, h4 {
    color: #ddd;
}

header {
    background: $blue-dark;
}

.main {
    background: $blue-light;
}